@import "../assets/styles/globals.scss";
@import "../assets/styles/responsive.scss";

.device {
  max-width: 1270px;
  overflow: visible;
  //padding-top: 2rem;

  .headlines {
    padding-top: 40px;

    @include for-phone-only {
      padding-top: 20px;
    }

    h1 {
      margin: 0 auto;
    }

    .brand,
    .terminal {
      display: block;
      font-weight: 800;
    }

    .brand {
      font-size: 1em;
    }

    .terminal {
      font-size: 2em;
    }
  }

  .photo {
    text-align: center;
    margin-top: 40px;

    img {
      max-width: 100%;
    }
  }

  .properties {
    .design {
      margin: 0 0 1em 0;
      padding-left: 1em;
    }

    .favorites {
      display: block;
      width: 50px;
    }

    .description {
      a {
        color: $primary-blue;
      }
    }
  }

  @include for-tablet-landscape-up {
     //margin: 0 auto;

    .headlines {
      float: right;
      width: 55%;
      padding-top: 40px;
    }

    .photo {
      float: left;
      width: 45%;
    }

    .properties {
      width: 100%;
      text-align: center;
      padding-top: 30em;
    }
  }

  .specificationshide {
    display: none;
  }

  .specificationsshow {
    border : 1px solid darkgray;
    display: block;
  }

  .addToCartBtn {
    margin: 1rem;
    color: white;
    background-color: #1fab2e;
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    padding: 1rem;
    border-radius: 24px;
    transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out, border 200ms ease-in-out;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
    float: right;
  }

  .footer {
    margin: .5rem;
    color: white;
    background-color: lightskyblue;
    position: relative;
    font-size: 1rem;
    font-weight: 700;
    border: 0;
    padding: .5rem;
    border-radius: 24px;
    transition: color 200ms ease-in-out, box-shadow 200ms ease-in-out, border 200ms ease-in-out;
    white-space: nowrap;
    outline: none;
    cursor: pointer;
  }
}
